.card {
  margin: 1rem;
  box-shadow: 0 5px 0 #191a23;
  border-radius: var(--br-26xl);
  box-sizing: border-box;
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-31xl);
}

.labelBox {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap; /* impede quebra do título */
}

.label1 {
  font-family: var(--h2);
  font-weight: 400;
  width: fit-content;
  padding: 0.2rem 0.2rem;
  border-radius: 0.4rem;
  font-size: larger;
}

.darkColors {
  background-color: var(--dark-card-bg) !important;
  border: 1px solid var(--dark-card-stroke);
}

.darkColors .SaibaMais {
  color: var(--dark-card-text-bg) !important;
}

.darkColors .label1 {
  font-weight: 500;
  color: var(--dark-card-bg);
  background-color: var(--dark-card-text-bg);
}

.darkColors .backText {
  color: var(--dark-card-text-bg);
}

.lightColors {
  background-color: var(--light-card-bg) !important;
  border: 1px solid var(--light-card-stroke);
}

.lightColors .SaibaMais {
  color: var(--light-card-text-bg) !important;
}

.lightColors .label1 {
  color: var(--claro);
  background-color: var(--light-card-text-bg);
}

.lightColors .backText {
  color: var(--light-card-text-bg);
}

.headingAndLink {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.bottomDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.CoteAgora {
  display: flex;
  cursor: pointer;
}

.backText {
  font-size: medium;
  line-height: 1.3rem;
  text-align: justify;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .backText {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}
