.card {
  box-shadow: 0 5px 0#191a23;
  border-radius: var(--br-26xl);
  box-sizing: border-box;
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-31xl);
}

.labelBox .label1,
.labelBox .label2 {
  font-family: var(--h2);
  font-weight: 400;
  width: fit-content;
  padding: 0.1rem 0.2rem;
  margin-bottom: 0.1rem;
  border-radius: 0.4rem;
}

.darkColors {
  background-color: var(--dark-card-bg) !important;
  border: 1px solid var(--dark-card-stroke);
}

.darkColors .SaibaMais {
  color: var(--dark-card-text-bg) !important;
}

.darkColors .labelBox .label1,
.darkColors .labelBox .label2 {
  font-weight: 500;
  color: var(--dark-card-bg);
  background-color: var(--dark-card-text-bg);
}

.lightColors {
  background-color: var(--light-card-bg) !important;
  border: 1px solid var(--light-card-stroke);
}

.lightColors .SaibaMais {
  color: var(--light-card-text-bg) !important;
}

.lightColors .labelBox .label1,
.lightColors .labelBox .label2 {
  color: var(--claro);
  background-color: var(--light-card-text-bg);
}

.cardImg {
  width: 40%;
}

.headingAndLink {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
