.formSection {
  border: 2px solid orange !important;
  background: url("/public/form-section-bg.png") left,
    linear-gradient(
      to right,
      var(--color-midnightblue-100) 50%,
      var(--color-midnightblue-100) 50%
    );
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-color: var(--color-midnightblue-100);
  width: 100%;
  display: flex;
  text-align: left;
  font-family: var(--font-inter);
}

.formContainer {
  min-height: 85vh;
  justify-content: space-around;
  flex-direction: row !important;
}

.textBox,
.formBox {
  width: 35%;
}

.textBox {
  color: var(--claro);
}

.title {
  font-size: var(--font-size-29xl);
}

.text {
  font-size: var(--font-size-3xl);
  letter-spacing: 1px;
  line-height: 2rem;
}

.formBox {
  border-radius: var(--br-3xs);
  height: 70vh;
  background-color: var(--claro);
}

.formTitle {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 3.25rem;
  color: var(--escuro);
  text-align: center;
}
