.container {
  border: 2px solid blue !important;
  margin: auto;
  min-width: 85vw;
  max-width: 944px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesSection {
  border: 2px solid green !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.08);
  background-color: var(--claro);
  width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-inter);
}

.sectionSepIcon {
  border: 2px solid orange !important;
  width: 6.013rem;
  height: 3.631rem;
  object-fit: contain;
  align-self: flex-start;
}

.cards {
  border: 2px solid rgb(0, 247, 255) !important;
  width: 55rem;
  height: 38.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.sectionSubtitle {
  border: 2px solid yellow !important;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57.831rem;
  height: 4.569rem;
}
